# SPECTRUM KERNEL MANAGER
# Ramdisk file for profile based kernel management
# Implimentation inspired by Franco's fku profiles

# Initialization
on property:sys.boot_completed=1
   # Set default profile on first boot
   exec u:r:init:s0 root root -- /init.spectrum.sh
   exec u:r:su:s0 root root -- /init.spectrum.sh
   # Enable Spectrum support
   setprop spectrum.support 1
   # Add kernel name
   setprop persist.spectrum.kernel Excalibur

# Balance (default profile)
on property:persist.spectrum.profile=0
   chmod 644 /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
   write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 302400
   chmod 444 /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
   write /sys/devices/system/cpu/cpu1/online 1
   chmod 644 /sys/devices/system/cpu/cpu1/cpufreq/scaling_min_freq
   write /sys/devices/system/cpu/cpu1/cpufreq/scaling_min_freq 302400
   chmod 444 /sys/devices/system/cpu/cpu1/cpufreq/scaling_min_freq
   write /sys/devices/system/cpu/cpu2/online 1
   chmod 644 /sys/devices/system/cpu/cpu2/cpufreq/scaling_min_freq
   write /sys/devices/system/cpu/cpu2/cpufreq/scaling_min_freq 302400
   chmod 444 /sys/devices/system/cpu/cpu2/cpufreq/scaling_min_freq
   write /sys/devices/system/cpu/cpu3/online 1
   chmod 644 /sys/devices/system/cpu/cpu3/cpufreq/scaling_min_freq
   write /sys/devices/system/cpu/cpu3/cpufreq/scaling_min_freq 302400
   chmod 444 /sys/devices/system/cpu/cpu3/cpufreq/scaling_min_freq
   chmod 644 /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
   write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1209600
   chmod 444 /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
   chmod 644 /sys/devices/system/cpu/cpu1/cpufreq/scaling_max_freq
   write /sys/devices/system/cpu/cpu1/cpufreq/scaling_max_freq 1209600
   chmod 444 /sys/devices/system/cpu/cpu1/cpufreq/scaling_max_freq
   chmod 644 /sys/devices/system/cpu/cpu2/cpufreq/scaling_max_freq
   write /sys/devices/system/cpu/cpu2/cpufreq/scaling_max_freq 1209600
   chmod 444 /sys/devices/system/cpu/cpu2/cpufreq/scaling_max_freq
   chmod 644 /sys/devices/system/cpu/cpu3/cpufreq/scaling_max_freq
   write /sys/devices/system/cpu/cpu3/cpufreq/scaling_max_freq 1209600
   chmod 444 /sys/devices/system/cpu/cpu3/cpufreq/scaling_max_freq
   chmod 644 /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
   write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor interactive
   chmod 444 /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
   chmod 644 /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor
   write /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor interactive
   chmod 444 /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor
   chmod 644 /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor
   write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor interactive
   chmod 444 /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor
   chmod 644 /sys/devices/system/cpu/cpu3/cpufreq/scaling_governor
   write /sys/devices/system/cpu/cpu3/cpufreq/scaling_governor interactive
   chmod 444 /sys/devices/system/cpu/cpu3/cpufreq/scaling_governor
   write /sys/devices/system/cpu/cpufreq/interactive/io_is_busy 1
   write /sys/module/cpu_boost/parameters/sync_threshold 0
   write /sys/module/msm_perfomance/parameters/touchboost 0
   write /sys/module/workqueue/parameters/power_efficient Y
   write /sys/module/cpu_boost/parameters/input_boost_enabled 0
   write /sys/module/msm_thermal/parameters/temp_threshold 65
   write /sys/module/msm_thermal/parameters/freq_warm 1152000
   write /sys/module/msm_thermal/parameters/freq_hot 998400
   write /sys/class/kgsl/kgsl-3d0/devfreq/min_freq 100000000
   write /sys/devices/soc.0/1c00000.qcom,kgsl-3d0/kgsl/kgsl-3d0/max_gpuclk 400000000
   write /sys/devices/soc.0/1c00000.qcom,kgsl-3d0/devfreq/1c00000.qcom,kgsl-3d0/governor msm-adreno-tz
   write /sys/block/mmcblk0/queue/rq_affinity 1
   write /sys/block/mmcblk1/queue/rq_affinity 1
   write /sys/block/mmcblk0/queue/scheduler maple
   write /sys/block/mmcblk1/queue/scheduler maple
   write /sys/block/mmcblk0/queue/read_ahead_kb 512
   write /sys/block/mmcblk0/queue/iosched/writes_starved 4
   write /sys/block/mmcblk0/queue/iosched/fifo_batch 16
   write /sys/block/mmcblk0/queue/iosched/sync_read_expire 350
   write /sys/block/mmcblk0/queue/iosched/sync_write_expire 550
   write /sys/block/mmcblk0/queue/iosched/async_read_expire 250
   write /sys/block/mmcblk0/queue/iosched/async_write_expire 450
   write /sys/block/mmcblk0/queue/iosched/sleep_latency_multiple 10
   write /sys/module/lowmemorykiller/parameters/minfree "1024,2048,4096,8192,12288,16384"
   stop logd
   write /sys/class/timed_output/vibrator/vtg_level 19

# Performance (based on DrunkSauce Lite)
on property:persist.spectrum.profile=1
   chmod 644 /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
   write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 533333
   chmod 444 /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
   write /sys/devices/system/cpu/cpu1/online 1
   chmod 644 /sys/devices/system/cpu/cpu1/cpufreq/scaling_min_freq
   write /sys/devices/system/cpu/cpu1/cpufreq/scaling_min_freq 533333
   chmod 444 /sys/devices/system/cpu/cpu1/cpufreq/scaling_min_freq
   write /sys/devices/system/cpu/cpu2/online 1
   chmod 644 /sys/devices/system/cpu/cpu2/cpufreq/scaling_min_freq
   write /sys/devices/system/cpu/cpu2/cpufreq/scaling_min_freq 533333
   chmod 444 /sys/devices/system/cpu/cpu2/cpufreq/scaling_min_freq
   write /sys/devices/system/cpu/cpu3/online 1
   chmod 644 /sys/devices/system/cpu/cpu3/cpufreq/scaling_min_freq
   write /sys/devices/system/cpu/cpu3/cpufreq/scaling_min_freq 533333
   chmod 444 /sys/devices/system/cpu/cpu3/cpufreq/scaling_min_freq
   chmod 644 /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
   write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1401600
   chmod 444 /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
   chmod 644 /sys/devices/system/cpu/cpu1/cpufreq/scaling_max_freq
   write /sys/devices/system/cpu/cpu1/cpufreq/scaling_max_freq 1401600
   chmod 444 /sys/devices/system/cpu/cpu1/cpufreq/scaling_max_freq
   chmod 644 /sys/devices/system/cpu/cpu2/cpufreq/scaling_max_freq
   write /sys/devices/system/cpu/cpu2/cpufreq/scaling_max_freq 1401600
   chmod 444 /sys/devices/system/cpu/cpu2/cpufreq/scaling_max_freq
   chmod 644 /sys/devices/system/cpu/cpu3/cpufreq/scaling_max_freq
   write /sys/devices/system/cpu/cpu3/cpufreq/scaling_max_freq 1401600
   chmod 444 /sys/devices/system/cpu/cpu3/cpufreq/scaling_max_freq
   write /sys/module/cpu_boost/parameters/sync_threshold 0
   chmod 644 /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
   write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor interactive
   chmod 444 /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
   chmod 644 /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor
   write /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor interactive
   chmod 444 /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor
   chmod 644 /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor
   write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor interactive
   chmod 444 /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor
   chmod 644 /sys/devices/system/cpu/cpu3/cpufreq/scaling_governor
   write /sys/devices/system/cpu/cpu3/cpufreq/scaling_governor interactive
   chmod 444 /sys/devices/system/cpu/cpu3/cpufreq/scaling_governor
   write /sys/devices/system/cpu/cpufreq/interactive/io_is_busy 1
   write /sys/module/msm_perfomance/parameters/touchboost 0
   write /sys/module/cpu_boost/parameters/input_boost_enabled 0
   write /sys/module/msm_thermal/parameters/temp_threshold 69
   write /sys/module/msm_thermal/parameters/freq_warm 1209600
   write /sys/module/msm_thermal/parameters/freq_hot 998400
   write /sys/class/kgsl/kgsl-3d0/devfreq/min_freq 100000000
   write /sys/devices/soc.0/1c00000.qcom,kgsl-3d0/kgsl/kgsl-3d0/max_gpuclk 465000000
   write /sys/devices/soc.0/1c00000.qcom,kgsl-3d0/devfreq/1c00000.qcom,kgsl-3d0/governor performance
   write /sys/block/mmcblk0/queue/rq_affinity 2
   write /sys/block/mmcblk0/queue/rq_affinity 2
   write /sys/block/mmcblk0/queue/scheduler deadline
   write /sys/block/mmcblk1/queue/scheduler deadline
   write /sys/block/mmcblk0/queue/read_ahead_kb 512
   write /sys/block/mmcblk1/queue/read_ahead_kb 512
   write /sys/module/lowmemorykiller/parameters/minfree "1024,2048,4096,8192,12288,16384"
   stop logd
   write /sys/class/timed_output/vibrator/vtg_level 19

# Battery
on property:persist.spectrum.profile=2
   chmod 644 /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
   write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 200000
   chmod 444 /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
   write /sys/devices/system/cpu/cpu1/online 1
   chmod 644 /sys/devices/system/cpu/cpu1/cpufreq/scaling_min_freq
   write /sys/devices/system/cpu/cpu1/cpufreq/scaling_min_freq 200000
   chmod 444 /sys/devices/system/cpu/cpu1/cpufreq/scaling_min_freq
   write /sys/devices/system/cpu/cpu2/online 1
   chmod 644 /sys/devices/system/cpu/cpu2/cpufreq/scaling_min_freq
   write /sys/devices/system/cpu/cpu2/cpufreq/scaling_min_freq 200000
   chmod 444 /sys/devices/system/cpu/cpu2/cpufreq/scaling_min_freq
   write /sys/devices/system/cpu/cpu3/online 1
   chmod 644 /sys/devices/system/cpu/cpu3/cpufreq/scaling_min_freq
   write /sys/devices/system/cpu/cpu3/cpufreq/scaling_min_freq 200000
   chmod 444 /sys/devices/system/cpu/cpu3/cpufreq/scaling_min_freq
   chmod 644 /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
   write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1094400
   chmod 444 /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
   chmod 644 /sys/devices/system/cpu/cpu1/cpufreq/scaling_max_freq
   write /sys/devices/system/cpu/cpu1/cpufreq/scaling_max_freq 1094400
   chmod 444 /sys/devices/system/cpu/cpu1/cpufreq/scaling_max_freq
   chmod 644 /sys/devices/system/cpu/cpu2/cpufreq/scaling_max_freq
   write /sys/devices/system/cpu/cpu2/cpufreq/scaling_max_freq 1094400
   chmod 444 /sys/devices/system/cpu/cpu2/cpufreq/scaling_max_freq
   chmod 644 /sys/devices/system/cpu/cpu3/cpufreq/scaling_max_freq
   write /sys/devices/system/cpu/cpu3/cpufreq/scaling_max_freq 1094400
   chmod 444 /sys/devices/system/cpu/cpu3/cpufreq/scaling_max_freq
   chmod 644 /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
   write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor powersave
   chmod 444 /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
   chmod 644 /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor
   write /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor powersave
   chmod 444 /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor
   chmod 644 /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor
   write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor powersave
   chmod 444 /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor
   chmod 644 /sys/devices/system/cpu/cpu3/cpufreq/scaling_governor
   write /sys/devices/system/cpu/cpu3/cpufreq/scaling_governor powersave
   chmod 444 /sys/devices/system/cpu/cpu3/cpufreq/scaling_governor
   write /sys/module/msm_perfomance/parameters/touchboost 0
   write /sys/module/cpu_boost/parameters/sync_threshold 0
   write /sys/module/cpu_boost/parameters/input_boost_enabled 0
   write /sys/module/msm_thermal/parameters/temp_threshold 60
   write /sys/module/msm_thermal/parameters/freq_warm 1209600
   write /sys/module/msm_thermal/parameters/freq_hot 998400
   write /sys/class/kgsl/kgsl-3d0/devfreq/min_freq 50000000
   write /sys/devices/soc.0/1c00000.qcom,kgsl-3d0/kgsl/kgsl-3d0/max_gpuclk 310000000
   write /sys/devices/soc.0/1c00000.qcom,kgsl-3d0/devfreq/1c00000.qcom,kgsl-3d0/governor msm-adreno-tz
   write /sys/block/mmcblk0/queue/rq_affinity 0
   write /sys/block/mmcblk0/queue/rq_affinity 0
   write /sys/block/mmcblk0/queue/scheduler noop
   write /sys/block/mmcblk1/queue/scheduler noop
   write /sys/block/mmcblk0/queue/read_ahead_kb 128
   write /sys/block/mmcblk1/queue/read_ahead_kb 128
   write /sys/module/lowmemorykiller/parameters/minfree "4096,8192,16384,32768,49152,65536"
   stop logd
   write /sys/class/timed_output/vibrator/vtg_level 19

# Gaming
on property:persist.spectrum.profile=3
   chmod 644 /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
   write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 800000
   chmod 444 /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
   write /sys/devices/system/cpu/cpu1/online 1
   chmod 644 /sys/devices/system/cpu/cpu1/cpufreq/scaling_min_freq
   write /sys/devices/system/cpu/cpu1/cpufreq/scaling_min_freq 800000
   chmod 444 /sys/devices/system/cpu/cpu1/cpufreq/scaling_min_freq
   write /sys/devices/system/cpu/cpu2/online 1
   chmod 644 /sys/devices/system/cpu/cpu2/cpufreq/scaling_min_freq
   write /sys/devices/system/cpu/cpu2/cpufreq/scaling_min_freq 800000
   chmod 444 /sys/devices/system/cpu/cpu2/cpufreq/scaling_min_freq
   write /sys/devices/system/cpu/cpu3/online 1
   chmod 644 /sys/devices/system/cpu/cpu3/cpufreq/scaling_min_freq
   write /sys/devices/system/cpu/cpu3/cpufreq/scaling_min_freq 800000
   chmod 444 /sys/devices/system/cpu/cpu3/cpufreq/scaling_min_freq
   chmod 644 /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
   write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1401600
   chmod 444 /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
   chmod 644 /sys/devices/system/cpu/cpu1/cpufreq/scaling_max_freq
   write /sys/devices/system/cpu/cpu1/cpufreq/scaling_max_freq 1401600
   chmod 444 /sys/devices/system/cpu/cpu1/cpufreq/scaling_max_freq
   chmod 644 /sys/devices/system/cpu/cpu2/cpufreq/scaling_max_freq
   write /sys/devices/system/cpu/cpu2/cpufreq/scaling_max_freq 1401600
   chmod 444 /sys/devices/system/cpu/cpu2/cpufreq/scaling_max_freq
   chmod 644 /sys/devices/system/cpu/cpu3/cpufreq/scaling_max_freq
   write /sys/devices/system/cpu/cpu3/cpufreq/scaling_max_freq 1401600
   chmod 444 /sys/devices/system/cpu/cpu3/cpufreq/scaling_max_freq
   chmod 644 /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
   write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor interactive
   chmod 444 /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
   chmod 644 /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor
   write /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor interactive
   chmod 444 /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor
   chmod 644 /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor
   write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor interactive
   chmod 444 /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor
   chmod 644 /sys/devices/system/cpu/cpu3/cpufreq/scaling_governor
   write /sys/devices/system/cpu/cpu3/cpufreq/scaling_governor interactive
   chmod 444 /sys/devices/system/cpu/cpu3/cpufreq/scaling_governor
   write /sys/module/msm_perfomance/parameters/touchboost 0
   write /sys/module/cpu_boost/parameters/sync_threshold 0
   write /sys/module/cpu_boost/parameters/input_boost_enabled 0
   write /sys/module/msm_thermal/parameters/temp_threshold 69
   write /sys/module/msm_thermal/parameters/freq_warm 1209600
   write /sys/module/msm_thermal/parameters/freq_hot 998400
   write /sys/class/kgsl/kgsl-3d0/devfreq/min_freq 200000000
   write /sys/devices/soc.0/1c00000.qcom,kgsl-3d0/kgsl/kgsl-3d0/max_gpuclk 465000000
   write /sys/devices/soc.0/1c00000.qcom,kgsl-3d0/devfreq/1c00000.qcom,kgsl-3d0/governor performance
   write /sys/block/mmcblk0/queue/rq_affinity 2
   write /sys/block/mmcblk1/queue/rq_affinity 2
   write /sys/block/mmcblk0/queue/scheduler row
   write /sys/block/mmcblk1/queue/scheduler row
   write /sys/block/mmcblk0/queue/read_ahead_kb 512
   write /sys/block/mmcblk1/queue/read_ahead_kb 512
   write /sys/module/lowmemorykiller/parameters/minfree "1024,2048,2560,4096,6144,8192"
   stop logd
   write /sys/class/timed_output/vibrator/vtg_level 19
